In [4]:
import quandl
import pandas as pd
quandl.ApiConfig.api_key = "KfB5T5xF5eyrNm3mGmzz"

data = quandl.get_table('SCF/PRICES', quandl_code = 'CME_NQ1_ON',
                        qopts = { 'columns': ['date', 'open', 'high', 'low', 'settle', 'volume',] },
                        #qopts = { 'columns': ['date','front_contract', 'open', 'settle', 'volume', ] },
                        date = { 'gt':'2014-09-10' },
                        paginate=True)

export_csv = data.to_csv (r'/Users/administrator/virtualenvs/projects/capstone/export_CMENQFULL.csv', index = None, header=True) #Don't forget to add '.csv' at the end of the path
                        
dataset = pd.DataFrame(data)
print (dataset)

           date     open     high      low   settle  volume
None
0    2019-04-05  7565.00  7612.75  7556.00  7604.25  356900
1    2019-04-04  7581.25  7598.00  7522.00  7561.50  429681
2    2019-04-03  7517.00  7616.25  7513.25  7582.25  479933
3    2019-04-02  7495.25  7532.50  7483.75  7519.25  358305
4    2019-04-01  7430.00  7506.50  7428.50  7498.50  410749
5    2019-03-29  7350.25  7414.50  7350.25  7400.50  392577
6    2019-03-28  7323.50  7372.50  7289.50  7352.00  444798
7    2019-03-27  7383.50  7404.75  7276.00  7334.50  591443
8    2019-03-26  7363.00  7447.50  7340.50  7376.75  552578
9    2019-03-25  7372.25  7390.50  7290.00  7355.25  589722
10   2019-03-22  7526.75  7544.75  7353.00  7368.75  684553
11   2019-03-21  7400.50  7541.00  7367.75  7534.50  521408
12   2019-03-20  7378.00  7458.00  7349.50  7409.50  536516
13   2019-03-19  7362.25  7421.25  7351.25  7376.50  423736
14   2019-03-18  7338.00  7379.50  7321.75  7360.75  363635
15   2019-03-15  7272.50  7361.00  7269.75  7343.25  408040
16   2019-03-14  7302.75  7318.50  7265.75  7267.25  359935
17   2019-03-13  7237.75  7324.25  7211.00  7296.50  404323
18   2019-03-12  7176.00  7223.00  7163.25  7206.50  162997
19   2019-03-11  7022.25  7176.75  6997.50  7164.75  202365
20   2019-03-08  7025.50  7034.00  6939.00  7026.75  309105
21   2019-03-07  7109.00  7123.25  7003.25  7027.50  554384
22   2019-03-06  7156.00  7171.25  7107.00  7111.25  442932
23   2019-03-05  7144.50  7182.00  7124.25  7165.50  364229
24   2019-03-04  7177.00  7211.50  7074.50  7145.75  554610
25   2019-03-01  7106.50  7164.50  7098.25  7156.00  378984
26   2019-02-28  7121.25  7130.75  7072.50  7102.50  360783
27   2019-02-27  7109.25  7131.75  7048.00  7121.75  365472
28   2019-02-26  7122.00  7151.00  7073.25  7117.75  361492
29   2019-02-25  7108.50  7168.50  7102.00  7125.75  343380
...         ...      ...      ...      ...      ...     ...
1121 2014-10-22  3959.25  3975.25  3933.75  3942.00     243
1122 2014-10-21  3871.50  3970.00  3840.50  3964.50     468
1123 2014-10-20  3812.00  3874.50  3787.50  3859.25     557
1124 2014-10-17  3751.75  3833.50  3736.25  3797.25     552
1125 2014-10-16  3733.75  3779.50  3682.75  3734.75     203
1126 2014-10-15  3806.00  3824.25  3686.50  3745.25     450
1127 2014-10-14  3802.00  3845.75  3787.50  3805.25     503
1128 2014-10-13  3835.00  3878.00  3786.25  3792.00     290
1129 2014-10-10  3946.25  3959.75  3842.75  3846.50     230
1130 2014-10-09  4025.50  4041.75  3942.00  3963.75     156
1131 2014-10-08  3947.00  4032.50  3924.75  4024.00     148
1132 2014-10-07  3986.50  4003.25  3944.00  3949.75      83
1133 2014-10-06  4017.50  4033.25  3989.75  4000.50     129
1134 2014-10-03  3966.50  4027.25  3964.75  4009.50     117
1135 2014-10-02  3978.00  3988.00  3923.25  3971.50     216
1136 2014-10-01  4031.00  4038.00  3959.50  3976.00     440
1137 2014-09-30  4033.75  4064.75  4024.25  4044.75  334467
1138 2014-09-29  4045.75  4051.25  3998.00  4035.50  350305
1139 2014-09-26  4005.00  4050.50  4001.75  4045.75  309995
1140 2014-09-25  4085.25  4088.50  3998.25  4007.50  442898
1141 2014-09-24  4031.75  4090.00  4031.00  4087.75  278357
1142 2014-09-23  4044.50  4061.00  4027.75  4037.00  276929
1143 2014-09-22  4091.75  4092.00  4035.75  4052.75  295630
1144 2014-09-19  4098.75  4118.75  4076.00  4093.00  279619
1145 2014-09-18  4071.00  4099.75  4061.00  4096.50  225943
1146 2014-09-17  4056.00  4084.00  4039.25  4065.25  320715
1147 2014-09-16  4026.50  4066.50  4004.25  4058.25  377333
1148 2014-09-15  4057.50  4076.25  4018.25  4033.50  150015
1149 2014-09-12  4096.50  4096.50  4056.75  4069.75  184227
1150 2014-09-11  4093.00  4097.00  4060.00  4091.00  307246

[1151 rows x 6 columns]